@use 'responsive' as responsive;
@use 'typography' as type;

.container {
  font-family: type.$primary;
  font-size: 18px;
  margin: 32px 0;
  text-align: center;

  @media screen and (max-width: responsive.$breakpoint-medium) {
    font-size: 14px;
    margin: 16px 0;
  }
}

.isHome {
  bottom: 0;
  position: absolute;
  width: 100%;
}
