@use 'animation' as anim;
@use 'colors' as color;
@use 'responsive' as responsive;
@use 'typography' as type;

.container {
  $margins: 24px;

  height: $margins;
  position: sticky;
  margin: $margins 0;
  top: $margins;
  z-index: 1;

  nav {
    display: flex;
    flex-flow: row;
    font-family: type.$secondary;
    list-style: none;

    .col {
      display: flex;
      flex: 1;

      &:last-child {
        justify-content: flex-end;
      }
    }

    a {
      color: color.$secondary;
      padding: 12px;
      text-underline-offset: 0.2em;
      transition: all anim.$link-active-time ease-out;
    }

    a:active,
    a:hover {
      color: color.$primary;
    }

    .home {
      &.isHome {
        display: none;
      }
    }

    @media screen and (max-width: responsive.$breakpoint-small),
      (max-height: responsive.$breakpoint-small) {
      display: none;
    }
  }

  .mobileMenuButton {
    display: none;
  
    button {
      
    }

    @media screen and (max-width: responsive.$breakpoint-small),
      (max-height: responsive.$breakpoint-small) {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
    }
  }
}
