@use 'animation' as anim;
@use 'colors' as color;
@use 'typography' as type;

.container {
  $margins: 24px;

  height: $margins;
  position: sticky;
  margin: $margins 0;
  top: $margins;
  z-index: 1;

  nav {
    float: right;
    font-family: type.$secondary;
    list-style: none;

    span {
      margin-right: $margins;
    }

    a {
      color: color.$secondary;
      text-underline-offset: 0.2em;
      transition: all anim.$link-active-time ease-out;
    }

    a:active,
    a:hover {
      color: color.$primary;
    }
  }
}
