@use '../common/_animation' as anim;
@use '../common/_colors' as color;
@use '../common/_responsive' as responsive;
@use '../common/_typography' as type;

.container {
  $margins: 12px;

  background-color: rgba(color.$quaternary, 0.8);
  box-shadow: 0 2px 4px 2px rgba(color.$quaternary, 0.68);
  position: sticky;
  padding: $margins 0;
  top: 0;
  z-index: 1;

  &.isHome {
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;

    .home {
      display: none;
    }
  }

  nav {
    display: flex;
    flex-flow: row;
    font-family: type.$secondary;
    list-style: none;

    .col {
      display: flex;

      &:first-child {
        flex: 1;
        margin-left: $margins;
      }

      &:last-child {
        flex: 2;
        justify-content: flex-end;
        margin-right: $margins;
      }

      a {
        color: color.$secondary;
        padding: 12px;
        text-underline-offset: 0.2em;
        transition: all anim.$link-active-time ease-out;
      }
  
      a:active,
      a:hover {
        color: color.$primary;
      }
    }

    // TODO uncomment when mobile menu is ready
    // @media screen and (max-width: responsive.$breakpoint-small),
    //   (max-height: responsive.$breakpoint-small) {
    //   display: none;
    // }
  }

  .mobileMenuButton {
    display: none;
  
    button {
      // todo
    }

    // TODO uncomment when mobile menu is ready
    // @media screen and (max-width: responsive.$breakpoint-small),
    //   (max-height: responsive.$breakpoint-small) {
    //   display: flex;
    //   flex-flow: row;
    //   justify-content: flex-end;
    // }
  }
}
