@use 'animation' as anim;
@use 'colors' as color;
@use 'responsive' as responsive;
@use 'typography' as type;

.container {
  font-family: type.$secondary;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  a:active,
  a:hover {
    color: color.$secondary;
  }
}

.title {
  $hero-font-size: 96px;

  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, 8%);
  white-space: nowrap;

  a {
    color: color.$primary;
    font-size: $hero-font-size;
    text-decoration: none;
    transition: all anim.$hero-active-time ease-out;

    @media screen and (max-width: responsive.$breakpoint-medium) {
      display: none;
    }
  }

  p {
    font-family: type.$primary;
    font-size: 22px;

    @media screen and (max-width: responsive.$breakpoint-small) {
      display: none;
    }
  }

  @media screen and (max-width: responsive.$breakpoint-medium) {
    transform: translate(-50%, 360%);
  }
}
