@use '../common/_animation' as anim;
@use '../common/_colors' as color;
@use '../common/_responsive' as responsive;
@use '../common/_typography' as type;

.container {
  font-family: type.$secondary;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  a:active,
  a:hover {
    color: color.$secondary;
  }
}

.title {
  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  white-space: nowrap;

  h1 {
    color: color.$primary;
    font-family: type.$secondary;
    font-size: 84px;
    font-weight: 400;

    @media screen and (min-width: responsive.$breakpoint-xlarge + 1) {
      font-size: 96px;
    }

    @media screen and (max-width: responsive.$breakpoint-medium) {
      display: none;
    }
  }

  h3 {
    font-family: type.$primary;
    font-size: 26px;
    font-weight: 300;

    @media screen and (max-width: responsive.$breakpoint-medium) {
      font-size: 26px;
    }

    @media screen and (max-width: responsive.$breakpoint-small),
      (max-height: responsive.$breakpoint-small) {
      display: none;
    }
  }

  @media screen and (min-width: responsive.$breakpoint-xlarge + 1) {
    transform: translate(-50%, 8%);
  }

  @media screen and (max-width: responsive.$breakpoint-medium) {
    transform: translate(-50%, 172%);
  }
}
