@use 'animation' as anim;
@use 'colors' as color;
@use 'responsive' as responsive;

$logo-height: 330px;
$logo-width: 288px;

@mixin piece($file-name) {
  position: absolute;

  background: url('../images/logo/#{$file-name}.svg');
  background-size: $logo-width $logo-height;
  height: $logo-height;
  transition: all anim.$logo-time ease-out;
  width: $logo-width;
}

.container {
  // TODO add intro animation? fade in/slide up
  left: 50%;
  position: absolute;
  top: 50%;
  height: $logo-height;
  width: $logo-width;
  transform: translate(-50%, -100%);
  // transition: all anim.$logo-time ease-out; TODO figure out timing

  &:hover,
  &:active {
    .c { transform: translate(-4%, 4%); opacity: 1; }
    .p { transform: translate(4%, 4%); opacity: 1; }

    .topShade { transform: translate(0%, -2%); opacity: 0; }
    .leftShade { transform: translate(-4%, 4%); opacity: 0; }
    .rightShade { transform: translate(4%, 4%); opacity: 0; }
    
    .top { transform: translate(0%, -2%); }
    .left { transform: translate(-4%, 4%); }
    .right { transform: translate(4%, 4%); }
  }

  @media screen and (max-width: responsive.$breakpoint-medium) {
    transform: translate(-50%, -50%);
  }
}

.c { @include piece('logo-c'); opacity: 0.6; }
.p { @include piece('logo-p'); opacity: 0.6; }
.topShade { @include piece('logo-top-shade'); opacity: 1; }
.leftShade { @include piece('logo-left-shade'); opacity: 1; }
.rightShade { @include piece('logo-right-shade'); opacity: 1; }
.top { @include piece('logo-top'); }
.left { @include piece('logo-left'); }
.right { @include piece('logo-right'); }
