@use 'animation' as anim;
@use 'colors' as color;
@use 'typography' as type;

.container {
  margin: 24px;
  position: sticky;
  top: 0;
  z-index: 1;

  .links {
    float: right;
    font-family: type.$secondary;
    list-style: none;

    a {
      color: color.$primary;
      text-underline-offset: 0.2em;
      transition: all anim.$active-time ease-out;
    }

    a:active,
    a:hover {
      color: color.$secondary;
    }
  }
}
