@use 'colors' as color;
@use 'responsive' as responsive;
@use 'typography' as type;

h1 {
  $size-medium: 72px;
  $size-large: 84px;
  $size-xlarge: 96px;

  color: color.$primary;
  font-family: type.$secondary;
  font-size: $size-large;
  font-weight: 400;
  margin: $size-large 0;
  text-align: center;

  @media screen and (min-width: responsive.$breakpoint-xlarge + 1) {
    font-size: $size-xlarge;
    margin: $size-xlarge 0;
  }

  @media screen and (max-width: responsive.$breakpoint-medium) {
    font-size: $size-medium;
    margin: $size-medium 0;
  }
}
