html {
  background-color: #202344;
  color: #299199;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  height: 100%;
}

a,
a:visited {
  color: #299199;
}

a:active,
a:hover {
  color: #cd366f;
  transition: color 512ms;
}

header {
  text-align: center;
}

header > .logo {
  background: url('../icon.svg');
  background-size: 12em 12em;
  /* change for responsive/scroll */
  display: block;
  height: 12em;
  margin: 0 auto;
  width: 12em;
}

header > .title {
  font-size: 4em;
  text-decoration: none;
}
